<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type='com.almabani.common.dto.menu.Application' alias='application'></typeAlias>
		<typeAlias type='com.almabani.common.dto.menu.Module' alias='module'></typeAlias>
		<typeAlias type='com.almabani.common.dto.menu.SubModule' alias='subModule'></typeAlias>

	</typeAliases>



</configuration>